.total-body {
  margin: 0px;
}

.nav {
  height: 70px;
  display: flex;
  align-items: center;
  background-color: black;
}
.company-title {
  display: flex;
  align-items: center;
}

.company-name {
  color: aliceblue;
  font-size: x-large;
  font-weight: 700;
}

.company-logo {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-left: 20px;
}

.nav-center-items {
  display: flex;
  margin: auto;
  color: aliceblue;
}

.nav-right-items {
  display: flex;
  color: aliceblue;
  margin-right: 15px;
}

.nav-item {
  color: aliceblue;
  margin-left: 10px;
}

.top {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 900px;
}

.main {
  width: 1200px;
}

.search-bar {
  text-align: center;
  display: flex;
  border-radius: 40px;
  background-color: aliceblue;
  height: 60px;
  width: 800px;
  margin: auto;
  margin-bottom: 30px;
}

.search-bar-item {
  margin: 10px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}
.search-bar-item-title {
  margin-right: 90px;
  font-size: 12px;
  font-weight: 550;
}

.search-bar-item-input {
  border: none;
  width: 130px;
}

.search-item-btn {
  cursor: pointer;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  background-color: #ff385c;
  border: none;
  margin: 4px auto;
  margin-right: 5px;
  margin-top: 6px;
}

.main-image-box {
  width: 1200px;
  height: 480px;
  display: table-cell;
  vertical-align: bottom;
  /* padding: 50px 50px; */
  background: url(./src/air.jpg);
  border-radius: 20px;
}

.main-image-title {
  color: aliceblue;
  font-weight: 600;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0px;
}

.main-image-btn {
  margin: auto;
  display: block;
  margin-top: 10px;
  margin-bottom: 40px;
  border-radius: 18px;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
  padding: 10px 15px;
  color: #8d10be;
  /* color: linear-gradient(90deg, #6f019c 0%, #c6017e 135.12%); */
}

.gift-card-zone {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1200px;
  height: 500px;
  margin: auto;
  background-color: antiquewhite;
  border-radius: 20px;
}

.gift-card-img {
  width: 500px;
  height: 400px;
  object-fit: cover;
}

.gift-card-left {
  text-align: center;
}
.gift-card-title {
  font-size: 50px;
  font-weight: bold;
  margin: 0;
}

.gift-card-btn {
  cursor: pointer;
  width: 120px;
  height: 50px;
  background-color: black;
  border: none;
  color: aliceblue;
  border-radius: 10px;
  margin-top: 17px;
  font-size: 17px;
}
